* {
	color: #242424;
}

.form-container {
	border: 0px solid #fff;
	padding: 50px 60px;
	margin-top: 30%;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.box input[type="text"], .box input[type="email"], .box input[type="number"], .box input[type="password"] {

	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: green;
	font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.box a {

	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.box a:hover {

	color: #ffc107;
}


/*###########################___________navbar________________###################*/


.primary-color {
	color: #d3325f;
}


.navbar {
	
	padding: 20px 20px;
	transition: all 1s ease;
}
.bg-color {
	background: transparent;
}

.bg-color-1 {
	background: #242424;
}

.navbar-background {
	padding: 5px 20px;
}

.navbar-brand {
	font-size: 30px;
	transition: all 1s ease;
}

.navbar-brand:hover {
	color: #fff;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	transition: all 2s ease;
	font-size: 23px;
}

.nav-link:hover {
	color: #d3325f;
}

.nav-btn {
	background: transparent;
	color: #d3325f;
	border: 2px solid #d3325f;
	font-size: 23px;
	transition: all 0.5s ease;
}

.nav-btn:hover {
	color: #fff;
	border: 2px solid #242424;
	transform: rotate(10deg);
}

.toggler-btn {
	border: 2px solid #d3325f;
	padding: 5px;
	text-decoration: none;
	transform: all 0.5s ease;
}

.bar {
	width: 30px;
	height: 3px;
	margin: 5px;
	background: #d3325f;
	transition: all 0.5s ease;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-5px, -8px);
}

@media (max-width: 1024px) {
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 95%;
    max-width: 95%;
    margin-left: 3%;
    margin-top: -10%;
}
}

@media (max-width: 1024px) {
	.col-md-4 {
    margin-top: -18%;
}
}

@media (max-width: 320px) {
	.box {
	margin-left: -50px;
    width: 160%;
}

.form-container {
	margin-top: 50%;
}
}